{
  "cli": {
    "version": ">= 16.20.0",
    "appVersionSource": "remote"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "env": {
        "EXPO_PUBLIC_API_URL": "https://correspondences-app-production.up.railway.app/api"
      }
    },
    "preview": {
      "distribution": "internal",
      "env": {
        "EXPO_PUBLIC_API_URL": "https://correspondences-app-production.up.railway.app/api"
      }
    },
    "production": {
      "autoIncrement": true,
      "env": {
        "EXPO_PUBLIC_API_URL": "https://correspondences-app-production.up.railway.app/api"
      }
    }
  },
  "submit": {
    "production": {
      "ios": {
        "appleId": "${EAS_APPLE_ID}",
        "ascAppId": "${EAS_ASC_APP_ID}",
        "appleTeamId": "${EAS_APPLE_TEAM_ID}"
      }
    }
  }
}
